In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pywt  # 웨이블릿 변환 라이브러리

plt.rcParams.update({'figure.max_open_warning': 0})
# 이미지 크기 설정
plt.rcParams['figure.figsize'] = 12, 6

# 정상 데이터 로드
z_data = np.loadtxt('ZALL.csv', delimiter=',', dtype=np.float32)  # CSV 파일로 읽기

# 결과를 저장할 리스트
mean_abs_results = []
mean_square_results = []
std_dev_results = []
median_results = []
range_results = []

# 데이터 처리
for i in range(int(len(z_data) / 512)):
    segment = z_data[i * 512: (i + 1) * 512]
    
    # (1) 절대값의 평균
    mean_abs = np.mean(np.abs(segment))
    mean_abs_results.append(mean_abs)

    # (2) 제곱하여 구한 평균값
    mean_square = np.mean(segment ** 2)
    mean_square_results.append(mean_square)
    
    # (3) 표준편차
    std_dev = np.std(segment)
    std_dev_results.append(std_dev)
    
    # (4) 중앙값
    median = np.median(segment)
    median_results.append(median)
    
    # (5) 범위 추가 (max - min)
    range_values = np.max(segment) - np.min(segment)
    range_results.append(range_values)

# 데이터프레임 생성
z_results = pd.DataFrame({
    'mean_abs': mean_abs_results,
    'mean_square': mean_square_results,
    'std_dev': std_dev_results,
    'median': median_results,
    'range_values': range_results
})

# 결과 확인
print(z_results)

      mean_abs  mean_square    std_dev  median  range_values
0    29.183594  1310.128906  34.690899    11.0         188.0
1    37.214844  2318.226562  47.406372     9.5         294.0
2    31.261719  1514.011719  38.065834     9.0         220.0
3    33.623047  1853.623047  42.920158     3.0         255.0
4    29.708984  1484.630859  37.983025     7.0         224.0
..         ...          ...        ...     ...           ...
795  40.355469  2597.703125  40.269455   -29.0         215.0
796  41.611328  2499.103516  43.001770   -29.5         242.0
797  41.535156  2587.867188  40.778084   -35.0         271.0
798  36.560547  2167.185547  35.373661   -27.5         219.0
799  36.337891  2068.833984  37.294811   -25.0         222.0

[800 rows x 5 columns]

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pywt  # 웨이블릿 변환 라이브러리

plt.rcParams.update({'figure.max_open_warning': 0})
# 이미지 크기 설정
plt.rcParams['figure.figsize'] = 12, 6

# 데이터 로드
s_data = np.loadtxt('SALL.csv', delimiter=',', dtype=np.float32)  # CSV 파일로 읽기

# 결과를 저장할 리스트
mean_abs_results = []
mean_square_results = []
std_dev_results = []
median_results = []
range_results = []

# 데이터 처리
for i in range(int(len(s_data) / 512)):
    segment = s_data[i * 512: (i + 1) * 512]
    
    # (1) 절대값의 평균
    mean_abs = np.mean(np.abs(segment))
    mean_abs_results.append(mean_abs)

    # (2) 제곱하여 구한 평균값
    mean_square = np.mean(segment ** 2)
    mean_square_results.append(mean_square)
    
    # (3) 표준편차
    std_dev = np.std(segment)
    std_dev_results.append(std_dev)
    
    # (4) 중앙값
    median = np.median(segment)
    median_results.append(median)
    
    # (5) 범위 추가 (max - min)
    range_values = np.max(segment) - np.min(segment)
    range_results.append(range_values)

# 데이터프레임 생성
s_results = pd.DataFrame({
    'mean_abs': mean_abs_results,
    'mean_square': mean_square_results,
    'std_dev': std_dev_results,
    'median': median_results,
    'range_values': range_results
})

# 결과 확인
print(s_results)

       mean_abs    mean_square     std_dev  median  range_values
0    329.742188  178061.656250  416.698730   174.5        2435.0
1    358.210938  215388.250000  462.950958   159.0        2423.0
2    409.806641  257685.156250  506.181946   199.0        2522.0
3    360.818359  217035.343750  464.125610   175.0        2546.0
4    355.167969  221057.156250  468.441437   170.0        2536.0
..          ...            ...         ...     ...           ...
795  237.154297   72044.437500  268.359039   -77.0        1072.0
796  175.031250   42579.507812  205.511063     8.5         971.0
797  205.912109   58821.937500  242.500916   -11.5        1092.0
798  200.312500   58867.476562  242.598022   -24.0        1225.0
799  184.291016   52860.031250  229.905869   -49.5        1202.0

[800 rows x 5 columns]

In [8]:
z_results['label'] = 0 #정상 0 
s_results['label'] = 1 # 비정상 1

In [21]:
total_results = pd.concat([z_results, s_results], axis=0, ignore_index=True)

# 행을 무작위로 섞기 
df = total_results.sample(frac=1).reset_index(drop=True)
df

        mean_abs    mean_square     std_dev  median  range_values  label
0      41.718750    2723.179688   50.388748    17.0         292.0      0
1      28.417969    1172.507812   34.240841    -0.5         184.0      0
2      37.679688    2193.386719   45.726913     8.0         247.0      0
3      34.158203    1838.919922   35.152519   -24.0         210.0      0
4     133.500000   28152.300781  167.665176   -11.0        1025.0      1
...          ...            ...         ...     ...           ...    ...
1595  493.576172  356143.500000  596.757080   -98.0        2735.0      1
1596   38.886719    2302.625000   47.875225     1.5         274.0      0
1597  320.261719  169556.562500  410.157501    93.0        2258.0      1
1598   24.009766     850.861328   26.712879    15.0         145.0      0
1599  187.359375   52194.910156  228.217590   -17.0         976.0      1

[1600 rows x 6 columns]

In [22]:
X = df.drop('label', axis=1)
X

        mean_abs    mean_square     std_dev  median  range_values
0      41.718750    2723.179688   50.388748    17.0         292.0
1      28.417969    1172.507812   34.240841    -0.5         184.0
2      37.679688    2193.386719   45.726913     8.0         247.0
3      34.158203    1838.919922   35.152519   -24.0         210.0
4     133.500000   28152.300781  167.665176   -11.0        1025.0
...          ...            ...         ...     ...           ...
1595  493.576172  356143.500000  596.757080   -98.0        2735.0
1596   38.886719    2302.625000   47.875225     1.5         274.0
1597  320.261719  169556.562500  410.157501    93.0        2258.0
1598   24.009766     850.861328   26.712879    15.0         145.0
1599  187.359375   52194.910156  228.217590   -17.0         976.0

[1600 rows x 5 columns]

In [11]:
y = df.label
y.head()

0    0
1    1
2    0
3    1
4    0
Name: label, dtype: int64

# 훈련세트, 검증세트 분리를 80%, 20% 분리

In [29]:
from sklearn.model_selection import train_test_split
X_train,X_test, y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0) 

X.shape

(1600, 5)

In [23]:
input_dim  = X.shape[1]
print(input_dim)

5

# 2. 모델 구축

In [16]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

# 모델 구성
model = Sequential([
    Dense(64, activation='relu', input_shape=(input_dim,)),  # 첫 번째 은닉층
    Dense(32, activation='relu'),                     # 두 번째 은닉층
    Dense(16, activation='relu'),                     # 세 번째 은닉층
    Dense(1, activation='sigmoid')                    # 출력층 
])

# 모델 컴파일
model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['accuracy'])

C:\Users\tansy\anaconda3\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

# 3. 모델 학습

In [17]:
model_history=model.fit(x=X_train, y=y_train, epochs=10, batch_size=32,validation_data= (X_test,y_test))

Epoch 1/10
40/40 ━━━━━━━━━━━━━━━━━━━━ 4s 14ms/step - accuracy: 0.4968 - loss: 2934.7705 - val_accuracy: 0.4969 - val_loss: 34.0382
Epoch 2/10
40/40 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.5713 - loss: 21.2343 - val_accuracy: 0.9469 - val_loss: 0.4762
Epoch 3/10
40/40 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.9438 - loss: 0.4846 - val_accuracy: 0.9531 - val_loss: 0.5111
Epoch 4/10
40/40 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.9534 - loss: 0.3405 - val_accuracy: 0.9531 - val_loss: 0.5630
Epoch 5/10
40/40 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.9482 - loss: 0.3985 - val_accuracy: 0.9375 - val_loss: 0.3891
Epoch 6/10
40/40 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9527 - loss: 0.2778 - val_accuracy: 0.9531 - val_loss: 0.3508
Epoch 7/10
40/40 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9382 - loss: 0.3665 - val_accuracy: 0.9500 - val_loss: 0.5266
Epoch 8/10
40/40 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9562 - loss: 0.3520 - val_accuracy: 0.9406 - val_loss: 0.3282
Epoch 9/10
40/40 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9596 - loss: 0.2253 - val_accuracy: 0.9406 - val_loss: 0.3182
Epoch 10/10
40/40 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9585 - loss: 0.2285 - val_accuracy: 0.9438 - val_loss: 0.2910

# 4. 모델 평가

In [18]:
import numpy as np
import pandas as pd
from sklearn.metrics import confusion_matrix, accuracy_score, recall_score

# 혼동 행렬 계산
y_pred = model.predict(X_test) 
y_pred_class = (y_pred > 0.5).astype(int)

tn, fp, fn, tp = confusion_matrix(y_test, y_pred_class).ravel()

# 성능 지표 계산
sensitivity = tp / (tp + fn)  # 민감도     
specificity = tn / (tn + fp)  # 특이도 : 150 / 161
accuracy = accuracy_score(y_test, y_pred_class)  # 정확도

print(f"민감도: {sensitivity:.2f}")
print(f"특이도: {specificity:.2f}")
print(f"정확도: {accuracy:.2f}")

10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step
민감도: 0.96
특이도: 0.93
정확도: 0.94

In [19]:
confusion_matrix(y_test, y_pred_class)

array([[150,  11],
       [  7, 152]], dtype=int64)